.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #2d79eb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-app, p {
  font-family: 'Georgia', serif;
  font-size: 18px;
  color: #3e3e3e;
}

.navbar-cust {
  padding: 0px 20px;
}

.title {
  font-style: italic;
  font-size: 20px;
}

.first-letter {
  font-size: 70px;
}

@media (max-width: 550px){
  .title {
    font-style: italic;
    font-size: 4vw;
  }
  
  .first-letter {
    font-size: 10vw;
  }
}
